body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "San Frncisco" Helvetica, Arial, sans-serif;
  margin: auto; font-size:12pt ;
  -webkit-user-select: none;
  user-select:none;
  color:darkslategrey
}
.wide-container {
  margin-left:20px;
  margin-right:20px;
}
.tdLabel {
  font-weight:500;
  width: 250px;
}

#statusbar{
  position: fixed;
  top:97vh;
  height:3vh;
  width:100%;
  background-color:whitesmoke;
  color:black;
  font-size: 8pt;
  padding:2px;
}

 /* The sidebar menu */
 .sidebar {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 60px;
  left: 0;
  background-color: whitesmoke; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #56131F;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mainDiv {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 15px;
  margin-left:250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.slide-leave-active,
.slide-enter-active {
    transition: opacity 0.2s, transform 0.2s;
}

.slide-enter,
.slide-leave-to {
    opacity: 0;
    transform: translateX(-30%);
}  


.mobileContainer {
  
  overflow-y:auto;
  border-image:url(img/mobileFrame.png) 25 stretch;
  cursor:url(img/mobileCursor.png),auto;

}
.mobileContainer.portrait{
  height:92vh;
  border-top:60px solid transparent;
  border-bottom:60px solid transparent;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
} 
.mobileContainer.landscape{
  height:89vh;
  border-left:60px solid transparent;
  border-right:60px solid transparent;
  border-top:30px solid transparent;
  border-bottom:30px solid transparent;
} 





/* width */

.mobileContainer::-webkit-scrollbar {
  width: 2px;
  display:none;
}

/* Track */
.mobileContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke; 
  border-radius: 1px;
}
 
/* Handle */
.mobileContainer::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 1px;
}

/* Handle on hover */
.mobileContainer::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.appContainer::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
.appContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke; 
  border-radius: 4px;
}
 
/* Handle */
.appContainer::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 4px;
}

/* Handle on hover */
.appContainer::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

