<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Samples</title>
  <script src="js/all.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-router.js"></script>

  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="index.css">

  <!-- templates -->
  <script id="tmpSystemInfo" type="text/html">
    <div>
      <div v-if="Info">
        <h3>System Info</h3>
        <hr>
        <h4 class="text-primary">
          <i class="fas fa-laptop-code"></i>
          Operating System</h4>
        <table class="table table-sm table-borderless">
          <tr>
            <td class="tdLabel">
              Operation system:
            </td>
            <td>
              {{Info.OS}}
            </td>
          </tr>
          <tr>
            <td class="tdLabel">
              Version:
            </td>
            <td>
              {{Info.version}}
            </td>
          </tr>
        </table>
        <hr>
        <h4 class="text-primary">
          <i class="fas fa-microchip"></i>
          Processors
        </h4>
        <table class="table table-sm table-borderless">
          <tr v-for="(p, index) in Info.cpus">
            <td style="font-weight:500;width:100px">
              CPU_{{index}}:
            </td>
            <td style="width:350px">
              {{p.model}}
            </td>
            <td>
              <div class="progress">
                <div :class="{'bg-success':p.load <= 40,'bg-warning':p.load>=40 && p.load<=80,'bg-danger':p.load > 80 }"
                  class="progress-bar" role="progressbar" :aria-valuenow="(p.load).toFixed(2)"
                  :style="'width:' + (p.load).toFixed(2) + '%'" aria-valuemin="0" aria-valuemax="100">
                  <span style="font-size:xx-small">
                    {{(p.load).toFixed(2)}}%
                  </span>
                </div>
              </div>
            </td>
          </tr>

        </table>
        <hr>
        <h4 class="text-primary">
          <i class="fas fa-sd-card"></i>
          Memory
        </h4>
        <table class="table table-sm table-borderless">
          <tr>
            <td class="tdLabel">
              Total Memory:
            </td>
            <td style="width:100px">
              {{(Info.totalMem ).toFixed(2)}}GB
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar"
                  :aria-valuenow="(Info.usedMem/Info.totalMem * 100).toFixed(2)"
                  :style="'width:' + (Info.usedMem/Info.totalMem * 100).toFixed(2) + '%'" aria-valuemin="0"
                  aria-valuemax="100">
                  <span style="font-size:xx-small">
                    {{(Info.usedMem/Info.totalMem * 100).toFixed(2)}}%
                  </span>
                </div>
              </div>
            </td>
          </tr>

          </tr>
        </table>
      </div>


    </div>
  </script>
  <script id="tmpOverview" type=text/html> <div>
    <h2>Terrence Johnson IT - Samples</h2>
      <p>This electron application is an aggregation of work samples. 
        I enjoy electron, although most paying work is done with vb.net, Dot Net Nuke, Vuejs for web applications.
        My background is in the Insurance industry and as such its pointless sharing website urls for password protected sites.
      </p>
      <p>
        You can simply download one executable file - be sure to choose the crrect one for you ooperating system. Its a one click install and you should be able to view the working applications.
      </p>
      <p>
        Thank you for checking out the page.
      </p>



    </div>
  </script>
  <script id="tmpMain" type="text/html">
    <div>
      <div id="mySidebar" class="sidebar">
        <center>
          <h3>Samples</h3>
        </center>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" :class="{active:$route.path=='/'}" @click="gotoOverview">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">Overview</h4>
            </div>
            <p class="mb-1">
              Overview of the application.
            </p>
          </a>
          <a href="#" class="list-group-item list-group-item-action" :class="{active:$route.path=='/sysinfo'}" @click="gotoSystemInfo">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">System Info</h4>
            </div>
            <p class="mb-1">
              Monitor some system resources.
            </p>
          </a>
        </div>
      </div>
      <div id="mainDiv">
        <br>
        <transition name="fade">
          <router-view></router-view>
        </transition>


      </div>
    </div>
  </script>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary pr-0 sticky-top">
    <button class="navbar-toggler navbar-toggler-sm" type="button" data-toggle="collapse" onclick="toggleSideBar();" title="Toggle menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="-webkit-app-region: drag;-webkit-user-select: none;user-select:none;width:70%;text-align:center">
      <a class="navbar-brand" href="#">Terrence Johnson IT - Samples </a>
    </div>
    <span class="float-right">
      <a id="btnClose" class="btn text-danger btn-lg" href="#" onclick="closeapp();">
        <i class="fas fa-times-circle fa-lg"></i>
      </a>
    </span>
  </nav>
  <div id="app" class="wide-container">
    <router-view></router-view>
  </div>

  <script type="text/javascript">
    function closeapp() {
      window.IPC.send('close-app');
    }

    function toggleSideBar() {
      var w = $("#mySidebar").css('width');
      console.log(w);
      if (w == '250px') {
        $("#mySidebar").css('width', '0px');
        $("#mainDiv").css('margin-left', '0px');
      } else {
        $("#mySidebar").css('width', '250px');
        $("#mainDiv").css('margin-left', '250px');
      }
    }
  </script>
  <script src="js/common/field.js"></script>
  <script src="js/common/select-field.js"></script>
  <script src="js/apps/system-info.js"></script>
  <script src="js/apps/overview.js"></script>
  <script src="js/main.js"></script>
  <script src="js/app.js"></script>
</body>

</html>